.link-404 {
    margin-top: "30px";
    padding: "12px 30px";
    background: "#fff";
    color: "#112134";
    text-decoration: "none";
    font-weight: "bold";
    border-radius: "6px";
    transition: "all 0.3s ease";
}